fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings
python-dotenv

langgraph
langchain
langchain-core
langchain-openai

openai

redis

loguru

httpx

python-multipart